@page
@model Biblioteca.Pages.Rols.EditModel
@{
    ViewData["Title"] = "Editar Rol";
}
<h1>Editar Roles</h1>

<h4>Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rol.Id" />
            <div class="form-group">
                <label asp-for="Rol.Name" class="control-label"></label>
                <input asp-for="Rol.Name" class="form-control" />
                <span asp-validation-for="Rol.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>